<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>
      <%= content_for?(:title) ? yield(:title) : 'Dear Universe' %>
    </title>
    <meta content="<%= content_for?(:description) ? yield(:description) : 'Dear Universe' %>" name="description"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= auto_discovery_link_tag(:atom, posts_path(:atom)) %>
    <meta charset="utf-8"/>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
